<p id="notice"><%= notice %></p>

<h1>Listing Genres</h1>

<% @genres.each do |genre| %>
<div class="row">
  <div class="col-md-9 col-md-3">
    <div class="thumbnail">
    <div>
      <%= genre.name %>
    </div>
    <div>
      <%= link_to 'Show', genre, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_genre_path(genre), class: "btn btn-warning" %>
      <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
    <% end %>


<p>
  <strong><%= link_to 'New Genre', new_genre_path %></strong>
</p>
