<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>


<h3>Movies in this Genre:</h3>
<% if @genre.movies.presence %>
	<ul>
		<% @genre.movies.each do |movie| %>
			<li><%= link_to movie.name, movie.website %></li>
</li>
			<% end %>
	</ul>
	<% else %> 
		<h4>No movies yet!</h4>
	<% end %>

</ul>

<h3> Actors in this Genre:</h3>
<% if @genre.actors.presence %>
	<ul>
		<% @genre.actors.each do |actor| %>
			<li><%= link_to actor.name %></li>

	</li>
			<% end %>
		</ul>
		<% else %>
			<h4>No Actors yet!</h4>
		<% end %>
	</ul>
<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
