<p id="notice"><%= notice %></p>

<h1>Listing Actors</h1>

  <% @actors.each do |actor| %>
<div class="row">
    <div class="col-md-9 col-md-3">
      <div class="thumbnail">
        <div>
        <%= actor.name %>
      </div>
      <div>
        <%= actor.bio %>
      </div>
      <div>
      <%= actor.genre.name%>
      </div>
      <div>
        <%= link_to 'Show', actor, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_actor_path(actor), class: "btn btn-warning" %>
        <%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
      
    <% end %>

<p>
  <strong><%= link_to 'New Actor', new_actor_path %></strong>

</p>

