<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-9 col-md-3">
      <div class="thumbnail">
	<div>
  		<strong>Name:</strong>
  		<%= @actor.name %>
	</div>

	<div>
  		<strong>Bio:</strong>
  		<%= @actor.bio %>
	</div>

	<div>
  		<strong>Genre:</strong>
  		<%= @actor.genre.name %>
	</div>

<h3>Movies by this Actor:</h3>
<% if @actor.movies.presence %>
	<ul>
		<% @actor.movies.each do |movie| %>
			<li><%= link_to movie.name, movie.website, target: "_blank" %></li>
</li>
			<% end %>
	</ul>
	<% else %> 
		<h4>No movies yet!</h4>
	<% end %>

</ul>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
